# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
token.txt
# config.py

*.env
__pycache__/
*.pyc
*.pyo
*.log
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folder
venv/
env/

# Distributions / packaging
build/
dist/
*.egg-info

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unix
*.swp
*.swo

# Log files
*.log
*.session
*.session-journal
users.txt
