# Use your own values from my.telegram.org
API_ID=1234567
API_HASH=abc123def456

# Use your own values from @BotFather
BOT_TOKEN=123456:ABC-123

# Enable "Show Peer IDs in Profile" in Advanced > Experimental Settings
LOG_CHANNEL_ID=-123456789  # The channel where logging info goes
TESTING_GROUP_ID=-123456789 # The group where testing can be done
TESTING_CHANNEL_ID=-123456789 # The channel where testing can be done
