# Use your own values from my.telegram.org
API_ID=1234567
API_HASH=abc123def456

# Use your own values from @BotFather
BOT_TOKEN=123456:ABC-123
LOG_CHANNEL_ID=-123456789  # The channel where logging info goes
